---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
AccessModifierOffset: -4
UseTab: Never
ColumnLimit: 120

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: MultiLine
  BeforeElse: false
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  AfterNamespace: true
  AfterExternBlock: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true

SpaceBeforeParens: ControlStatements

BreakBeforeConceptDeclarations: true
NamespaceIndentation: None
IndentExternBlock: NoIndent

Cpp11BracedListStyle: false
AlignAfterOpenBracket: Align
# Ensures that if they don't fit on one line, they each get their own
BinPackArguments: false
BinPackParameters: false

PointerAlignment: Left

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None  # 'None' is stricter than 'Never'
AllowShortLambdasOnASingleLine: None


...
